@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    color: #21243D;
}

.pro__list a {
    font-weight: 700;
    font-size: 30px;
    color: #21243D;
    text-decoration: none;
}

.year {
    background: #142850;
    color: #fff;
    border-radius: 16px;
    padding: 0 10px;
}

.tag {
    color: #8695A4;
    margin: 0 20px;
}

.info {
    margin: 15px 0 20px 0;
}

.description p {
    margin-top: 40px;
    font-size: 16px;
    line-height: 23.5px;
}

.header {
    padding: 228px 148px;
}

.about {
    padding: 0 148px;
}

.project {
    padding: 60px 148px;
}

.project h4,
.about h4 {
    color: green;
}

.footer {
    padding: 50px 148px;
    text-align: center;
}

.photo {
    text-align: center;
}

.contact,
.education {
    margin-top: 30px;
}

.icon__button {
    margin-bottom: 25px;
}

.socmed {
    font-size: 30px;
    margin: 0 15px;
}

.info__icon {
    margin-right: 20px;
    font-size: 20px;
}

.cont__desc {
    margin: 10px 0;
}

.wrapper {
    background-color: #EDF7FA;
    padding: 50px 0;
}

.pro__container {
    margin-top: 20px;
}

.img__pro img {
    border-radius: 6px;
    height: 200px;
    width: 250px;
}

.pro__list {
    border-bottom: 1px solid #E0E0E0;
    padding: 30px 0;
}

.photo img {
    width: 243px;
    height: 243px;
    border-radius: 100%;
    background-size: cover;
    box-shadow: -3px 15px 4px #EDF7FA
}

li {
    color: #52575C;
}

ul {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .header {
        padding: 150px 80px;
    }

    .photo img {
        margin-top: 10px;
    }

    .about {
        padding: 20px 80px;
    }

    .project {
        padding: 60px 80px;
    }
}